$first: #203B46;
$firstTwo: #2D5362;
$firstThree: #4D8EA8;
$second: #40A083;
$secondTwo: #50B99A;
$secondThree: #99D6C4;
$third: #E9C46A;
$thirdTwo: #EFD595;
$thirdThree: #FCF8ED;
$fourth: #F4A261;
$fourthTwo: #F7BC8D;
$fourthThree: #FEF4EC;
$fifth: #E76F51;
$fifthTwo: #EE9781;
$fifthThree: #FAE1DB;

$opaque: rgba(0, 0, 0, 0.5);
$opaqueTwo: rgba(0, 0, 0, 0.7);

$black: #060C0E;
$white: #F1F7F9;